footer.ui.inverted.segment {
  bottom: 0;
  margin-top: 3rem;
  font-family: 'Roboto', sans-serif !important;
}

td.content {
  font-weight: 400;
}
td {
  padding: 1rem;
  text-align: left;
}

table{
  display: grid;
  justify-content: center
}

.tbl-titel{
  font-weight: bold;
}

.impressumg{
  margin-left: 10px;
}

.copyright{
  margin-right: 10px;
}